# Godot 4+ specific ignores
.godot/
/android/
*.db
build/godot/exports/
*.log
build/steam/logs/*
**/*.TMP
reports/
addons/godot-sqlite/bin/~libgdsqlite.windows.template_debug.x86_64.dll
addons/godotsteam/win64/~libgodotsteam.windows.template_debug.x86_64.dll
addons/gdUnit4/GdUnitRunner.cfg
